@model CategoryViewModel

<section class="breadcrumb">
    <div class="container">
        <div class="content text-center text-dark">
            <h2>SHOP</h2>
            <ul>
                <li>HOME</li>
                <li>PRODUCTS</li>
                <li>CATEGORY</li>
            </ul>
        </div>
    </div>
</section>
<section class="grid-collection">
    
    @if (Model.Products.Any())
    {
    <h4 class="d-flex px-4">Products in <span class="text-decoration-underline text-capitalize mx-2"> @Model.Category </span> category:</h4>
        <div class="grid mx-4" id="products-container">

            @foreach (var product in Model.Products)
            {
                <div class="collection-item">
                    <partial name="/Views/Partials/_GridCollectionItem.cshtml" model="product" />
                </div>
            }
        </div>
    }
    else
    {
        <h4 class="d-flex justify-content-center">Products in <span class="text-decoration-underline text-capitalize mx-2"> @Model.Category </span> category:</h4>
        <div class="d-flex m-4 justify-content-center">
            <p>No products available in this category.</p>
        </div>
    }
</section>
