<partial name="~/Views/Partials/_Bredcrumb.cshtml" />

<section>
    <div class="image-container">

    </div>
    <div>
        <h4>Title</h4>
        <p>Description</p>
        <p>$Price</p>
        <div>
            <input />
            <button class="btn-theme">Add to Cart
                <i class="add-cart fa-regular fa-cart-plus"></i>
            </button>
        </div>
        <p>catergory:</p>
    </div>
</section>