@{
    var allProducts = await productService.GetAllAsync();
    var categories = await categoryRepo.GetAllDataAsync();
}
<section class="breadcrumb">
    <div class="container">
        <div class="content text-center text-dark">
            <h2>SHOP</h2>
            <ul>
                <li>HOME</li>
                <li>PRODUCTS</li>
            </ul>
        </div>
    </div>
</section>

<section class="grid-collection">
    @if (categories!= null)
    {
        <div class="d-flex justify-content-center">
            @foreach (var category in categories)
            {
            <ul class="categories">
                @if (category == categories.LastOrDefault(category) || categories.Count() > 8)
                {
                    <li class="text-decoration-none category-item">
                        <a class="link-secondary text-decoration-none text-capitalize" asp-controller="products" asp-action="category" asp-route-id="@category.Id">@category.CategoryName</a>
                    </li>
                }
                else if (category != categories.LastOrDefault(category) && categories.Count() < 8)
                {
                    <li class="text-decoration-none category-item">
                            <a class="link-secondary text-decoration-none text-capitalize" asp-controller="products" asp-action="category" asp-route-id="@category.Id">@category.CategoryName / </a>
                    </li>
                }
            </ul>
            }
        </div>
    }
    @if (allProducts != null)
    {
       <div class="grid" id="products-container">

       @foreach (var product in allProducts)
       {
       <div class="collection-item">
          <partial name="/Views/Partials/_GridCollectionItem.cshtml" model="product" />
       </div>
       }
       </div>
       <div class="load-more">
            <button id="load-more-button" class="btn-outline-white">LOAD MORE <i class="fa-solid fa-rotate-right"></i></button>
       </div>
    }
</section>

