@{

}
<section class="search-form">
    <div class="container d-flex justify-content-center bg-dark p-4 my-5">
        <form metod="post" class="col-8 d-flex col-xl-6" novalidate>
            <input class="mb-2 rounded-start" type="text" placeholder="search product here..." maxlength="64">
            <button type="submit" class="btn-theme rounded-end mb-2"><i class="fa-regular fa-search"></i></button>
        </form>
    </div>
</section>
