@model SearchViewModel

<section class="search-form">
    <div class="container bg-dark w-100 d-flex justify-content-center p-4 mt-5">
        <form metod="post" asp-action="search" class=" d-flex w-75 px-3" novalidate>
            <div class="text-danger" asp-validation-summary="ModelOnly"></div>
            <input class="mb-2 rounded-start" asp-for="SearchText" placeholder="search product here..." maxlength="64">
            <button type="submit" class="btn-theme rounded-end mb-2"><i class="fa-regular fa-search"></i></button>
        </form>
    </div>
    <div class="d-flex justify-content-center text-danger mt-4">
        <small><span asp-validation-for="SearchText" class="text-danger"></span></small>
    </div>
    <div class="grid-collection pt-2">
        @if (Model != null)
        {
            @if (Model.SearchResults.Any())
            {
                <div class="d-flex justify-content-center mx-4">
                   <h4><span class="text-decoration-underline ms-2">Your</span> search for @Model.SearchText:</h4> 
                </div>

                <div class="grid justify-content-center mx-4">
                    @foreach (var item in Model.SearchResults)
                    {
                        <div class="collection-item">
                            <partial name="/Views/Partials/_GridCollectionItem.cshtml" model="item" />
                        </div>
                    }
                </div>
            }
            else
            {
                <div class="d-flex justify-content-center text-danger">
                    <p>No results found for "@Model.SearchText".</p>
                </div>
            }
        }
    </div>
</section>
