@{
    Layout = "_BackofficeLayout";
}

<section class="breadcrumb">
    <div class="container">
        <div class="content text-center text-dark">
            <h2>BACKOFFICE DASHBOARD</h2>
            <ul>
                <li>ADMIN</li>
            </ul>
        </div>
    </div>
</section>
