.account-form {
    padding: 45px 0 60px 0;

    @include lg {
        padding: 75px 0;
    }

    .container {
        margin-top: 50px;
        border: 0px solid $color-dark-5;
        padding: 30px;

        @include md {
            box-shadow: 0 .5rem 1rem $color-dark-5;
        }

        .title {
            margin-bottom: 40px;
        }
    }

    form {
        display: grid;
        column-gap: 20px;
        row-gap: 20px;
        grid-template-columns: 1fr;
        grid-template-areas: "firstName" "lastName" "streetName" "postalCode" "city" "phoneNumber" "companyName" "email" "password" "confirmPassword" "imageFile" "terms" "button";

        @include lg {
            grid-template-columns: 1fr 1fr;
            grid-template-areas: "firstName lastName" "streetName streetName" "postalCode city" "phoneNumber companyName" "email email" "password password" "confirmPassword confirmPassword" "imageFile imageFile" "terms terms" "button button";
        }

        .firstname {
            grid-area: firstName;
        }

        .lastname {
            grid-area: lastName;
        }

        .streetname {
            grid-area: streetName;
        }

        .postalcode {
            grid-area: postalCode;
        }

        .city {
            grid-area: city;
        }

        .phonenumber {
            grid-area: phoneNumber;
        }

        .company {
            grid-area: companyName;
        }

        .email {
            grid-area: email;
        }

        .password {
            grid-area: password;
        }

        .confirm-password {
            grid-area: confirmPassword;
        }

        .imagefile {
            grid-area: imageFile;
        }

        .terms {
            grid-area: terms;
            font-size: smaller;
            display: flex;
            align-items: center;
            justify-content: start;
            margin: 1rem 0 2rem 0;

            input {
                width: 25px;
                margin-right: 5px;
            }
            label {
                font-size: smaller;
            }
        }

            button {
                grid-area: button;

                @include lg {
                    display: flex;
                    justify-self: flex-start;
                }
            }
        }
    }
