
@if (ViewBag.BestCollection != null){
    <section class="grid-collection">
            @if (!string.IsNullOrEmpty(ViewBag.BestCollection.Title))
            {
                <h1 class="title text-capitalize">@ViewBag.BestCollection.Title</h1>                
            }

            @if (ViewBag.Categories != null)
            {
                <ul class="categories">
                    @foreach (var category in ViewBag.Categories)
                    {
                    <li class="text-decoration-none category-item">
                        <a class="link-secondary text-decoration-none text-capitalize" asp-controller="products" asp-action="category" asp-route-id="@category.Id">@category.CategoryName</a>
                    </li>
                    }
                </ul>
            }

            @if (ViewBag.BestCollection.GridItems != null)
            {
                <div class="grid">
                    @foreach (var item in ViewBag.BestCollection.GridItems)
                    {
                    <div class="collection-item">
                        <partial name="/Views/Partials/_GridCollectionItem.cshtml" model="item" />
                    </div>
                    }
                </div>
            }

            @if (ViewBag.BestCollection.LoadMore)
            {
                <div class="load-more">
                    <button class="btn-outline-white">LOAD MORE <i class="fa-solid fa-rotate-right"></i></button>
                </div>
            }

    </section>
}