@model GridCollectionItemViewModel
@{
    var stock = await stockRepo.GetDataAsync(x => x.ArticleNumber == Model.Id);
}

<a asp-controller="products" asp-action="details" asp-route-id="@Model.Id" class="collection-item">
    <img src="~/images/products/@Model.ImageUrl" alt="@Model.Title">
</a>
    <div class="body">
        <div class="title">@Model.Title</div>
        <div class="info">
        <div class="price">
            $@(((double)stock.Price).ToString(stock.Price % 1 == 0 ? "F0" : "F2"))
        </div>
            <i class="add-cart fa-regular fa-cart-plus"></i>
        </div>
    </div>
