@{
    var Model = productService.BestCollection;
    var categories = await categoryRepo.GetAllDataAsync();
}

@if (Model != null){
    <section class="grid-collection">
            @if (!string.IsNullOrEmpty(Model.Title))
            {
                <h1 class="title">@Model.Title</h1>                
            }

            @if (categories != null)
            {
                <ul class="categories">
                    @foreach (var category in categories)
                    {
                    <li class="text-decoration-none category-item">
                        <a class="link-secondary text-decoration-none text-capitalize" asp-controller="products" asp-action="category" asp-route-id="@category.Id">@category.CategoryName</a>
                    </li>
                    }
                </ul>
            }

            @if (Model.GridItems != null)
            {
                <div class="grid">
                    @foreach (var item in Model.GridItems)
                    {
                    <div class="collection-item">
                        <partial name="/Views/Partials/_GridCollectionItem.cshtml" model="item" />
                    </div>
                    }
                </div>
            }

            @if (Model.LoadMore)
            {
                <div class="load-more">
                    <button class="btn-outline-white">LOAD MORE <i class="fa-solid fa-rotate-right"></i></button>
                </div>
            }

    </section>
}