@model EmailViewModel

<section class="newsletter">
    <div class="container">
        <form metod="post" novalidate>
            <div class="text-danger" asp-validation-summary="ModelOnly"></div>
            <input asp-for="Email" placeholder="subscribe mail here..." maxlength="64">
            <small><span asp-validation-for="Email" class="text-danger"></span></small>
            <button class="btn-theme btn-rounded"><i class="fa-sharp fa-solid fa-paper-plane fa-beat"></i></button>
        </form>
    </div>
</section>
